<!DOCTYPE html>
<html lang="pt">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/styles.css">
    {% block head%}
      <title>Foodfy</title>
    {% endblock%}
  </head>

  <body>
    <header class="admin-header">
          <div id="logo">
            <a href="/admin/recipes">
              <img src="/assets/white-logo.png" alt="Foodfy">
            </a>
          </div>
    </header>

    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </body>
  
  <script src="/scripts.js"></script>

</html>