{% extends 'layout.njk' %}

{% block head%}
    <link rel="stylesheet" href="/styles/about.css">
    <title>Sobre Foodfy</title>
{% endblock %}

{% block content %}
<div class="information">
  <h3>Sobre o Foodfy</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos illum eum in, iste sit inventore beatae recusandae ad delectus! Minima eum expedita voluptate? Repudiandae nesciunt in ducimus quibusdam nulla fugiat?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto tempore nemo repellendus eligendi quis, laborum dolores praesentium! Eveniet, accusantium recusandae. Quos, consectetur atque! Fuga sit, nulla quas facere facilis amet. 
  <br/><br/>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, exercitationem veritatis laboriosam omnis quos voluptate unde eos temporibus error. Modi accusantium expedita perspiciatis atque incidunt error! Neque reprehenderit vero soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem accusantium distinctio dolorum harum obcaecati odio, ipsum dolorem dignissimos vero, nemo cupiditate cumque aperiam odit libero culpa numquam, incidunt quidem? Quos.</p>
</div>

<div class="information">
  <h3>Como tudo começou...</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos illum eum in, iste sit inventore beatae recusandae ad delectus! Minima eum expedita voluptate? Repudiandae nesciunt in ducimus quibusdam nulla fugiat?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto tempore nemo repellendus eligendi quis, laborum dolores praesentium! Eveniet, accusantium recusandae. Quos, consectetur atque! Fuga sit, nulla quas facere facilis amet. 
  <br/><br/>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, exercitationem veritatis laboriosam omnis quos voluptate unde eos temporibus error. Modi accusantium expedita perspiciatis atque incidunt error! Neque reprehenderit vero soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem accusantium distinctio dolorum harum obcaecati odio, ipsum dolorem dignissimos vero, nemo cupiditate cumque aperiam odit libero culpa numquam, incidunt quidem? Quos.</p>
</div>

<div class="information">
  <h3>Nossas receitas</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos illum eum in, iste sit inventore beatae recusandae ad delectus! Minima eum expedita voluptate? Repudiandae nesciunt in ducimus quibusdam nulla fugiat?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto tempore nemo repellendus eligendi quis, laborum dolores praesentium! Eveniet, accusantium recusandae. Quos, consectetur atque! Fuga sit, nulla quas facere facilis amet.
</div>
{% endblock %}