/* === HEADER === */
* {
  margin: 0;
  padding: 0;
  border: none;
}

:root {
  --color-black: #111111;
  --color-purple: #6558C3;
}

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;  
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.content {
  width: 70vw;
  margin: 0 auto;
}

/* === HEADER === */
header {
  margin: 30px 0;

  display: grid;
  grid-template-columns: 1fr 50% 30%;

  align-items: center;
}

.main-header .header-links .active {
  font-weight: bold;
}

.main-header .header-links a{
  font-size: 16px;
  color: var(---color-black);
  margin-right: 30px;
  text-decoration: none;
}

.main-header .header-links a:hover {
  opacity: 0.7;
  border-bottom: 1px solid var(--color-black);
}

.main-header form {
  justify-self: end;
  opacity: 0;
}

.main-header form.active{
  opacity: 1;
 }
.main-header form input {
  background: #FFF;
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 8px 16px;
}

.main-header form button {
  background: var(--color-purple);
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 16px;
  color: #FFF;
}

/* === FOOTER ==== */
#footer-box {
  width: 100%;
  text-align: center;
  margin-top: 50px;

  display: flex;
  flex: 1;
  align-items: flex-end;
}

#footer-box footer {
  width:100%;
  padding: 8px 16px;
  background-color: #eeeeee;
  width: 100%;

  font-size: 14px;
  line-height: 24px;
  color: #999999;
}
/* === MAIN-PAGE CONTAINER === */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 

  position: relative;

  background: #FBDFDB;
  border-radius: 30px;
  height: 350px;

  margin-bottom: 50px;
}

.container .main-text {
  max-width: 320px;
}

.main-text h3 {
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
}

.main-text{
  margin-left: 5%;
}

.main-text p {
  opacity: 0.5;
  font-size:18px;
  line-height: 28px;
  color: #000000;
}

#chef img{
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 300px;
}

/* === RECIPES === */
h3 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 30px;
  margin-top: 20px;
  color: var(---color-black);
  cursor: pointer;
}

.recipe img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}

.recipe h5 {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
}

.recipe p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
}

/* === RECIPE DETAILS === */
.presentation {
  text-align: center;
  margin-bottom: 50px;
}

.presentation img {
  width: 100%;
  height: 280px;
  border-radius: 16px;
  margin-bottom: 40px;
}

.presentation h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
  color: var(--color-black);
}

.presentation p {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #777777;
}

.details {
  margin-bottom: 40px;
}

.details h4 {
  display: inline;
}

.details h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: var(--color-black);
}

.details button {
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  color: #999999;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.details ul {
  margin-top: 10px;
  list-style: none;
  list-style-position: inside;
}

.details li,
.details p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: #444444;
}

/* === MODAL === */
.modal {
  display:none
}

.modal.active {
  display: block;
}

/* === ABOUT-PAGE === */

.information h3{
  font-size: 24px;
  line-height: 34px;
  color: var(--color-black);
  font-weight: bold;
  margin: 30px 0 20px
}

.information p {
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}

/* === CREATE PAGE === */
.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.inline h3 {
  display: inline;
  margin: 0;
}

.inline .button {
  background-color: var(--color-purple);
  color: #FFFFFF;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
}

.item {
  margin-top: 30px;
}

.item div:first-child {
  font-size: 16px;
  font-weight: bold;
}

.item input,
.item select,
.item div:nth-child(2) textarea{
  width: 100%;
  margin-top: 10px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  font-size: 12px;
  color: #111111;
  background-color: white;
  font-family: 'Roboto';
}

.item select {
  outline: none;
  height: 35px;
}

.item div:nth-child(2) input {
  height: 32px;
}

.item .add-ingredient,
.item .add-step {
  margin-top: 15px;
  font-size: 16px;
  color: var(--color-purple);
  background-color: white;
  cursor: pointer;
  outline: none;
}

/* === MAIN CHEF PAGE === */
.item-information.chef a {
  color: #666;
}

/* === ADMIN HEADER === */ 
.main-header.admin {
  grid-template-columns: 12.5vw 12.5vw 1fr;
  grid-template-areas: "none logo links" ;
  background-color: var(--color-black);
  padding: 16px 32px;
  margin-top: 0;
}

.main-header.admin #logo {
  grid-area: logo;
}

.main-header.admin .header-links {
  grid-area: links;
}

.main-header.admin a.active {
  color: #FFF;
}

.header-links.admin-links a {
  color: #999;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 30px;
}

.main-header.admin .header-links a:hover {
  border-bottom: 1px solid #FFF;
}

/* === RECIPES INDEX-PAGE === */
.menu {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10%;
  margin-top: 30px;
}

.menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr;  

  align-items: center;
}

.item-image img{
  height: 80px;
  width: 180px;
  border-radius: 8px;
}

.item-information h5{
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}

.item-information p {
  font-size: 14px;
  color: #777;
}

.item-information a {
  font-size: 14px;
  color: var(--color-purple);
  text-decoration: none;
}
/* === RECIPES SHOW PAGE === */
.inline a.button{
  text-decoration: none;
}

/* === RECIPES EDIT PAGE === */
.inline .button.delete {
  background-color: #DC4747;
}

/* === CHEFS INDEX PAGE ==== */
.menu-chefs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  grid-gap: 30px;

  margin-top: 30px;
}

.menu-item.chef {
  grid-template-columns: 100px 1fr;
}

.menu-item .chef-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* === CHEFS SHOW PAGE === */ 
.presentation.chef {
  margin-top: 50px;
}
.presentation.chef img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h4 {
  font-size: 24px;
}