<div class="item">
  <div>Nome do chef</div>
  <div>
    <input 
      type="text" 
      name="name"
      value="{{ chef.name }}"
    >
  </div>
</div>
<div class="item">
  <div>Avatar URL</div>
  <div>
    <input 
      type="url" 
      name="avatar_url" 
      placeholder="https://"
      value="{{ chef.avatar_url }}"
    >
  </div>
</div>