.header {
  text-align: center;
  margin-bottom: 50px;
}

.header img {
  width: 100%;
}

.header h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: bold;
  color: var(--color-black);
}

.header p {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #777777;
}

.details {
  margin-bottom: 40px;
}

.details h4,
.details h6 {
  display: inline;
}

.details h4 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: var(--color-black);
}

.details h6 {
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  color: #999999;
  cursor: pointer;
}

.details ul {
  margin-top: 20px;
  list-style-position: inside;
}

.details li,
.details p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  color: #444444;
}

/* === MODAL === */
.modal {
  display:none
}

.modal.active {
  display: block;
}