{% extends "layout.njk" %}

{% block head%}
  <title>Foodfy</title>
{% endblock %}

{% block content%}
{% if filter %}
  <h4>Buscado por "{{filter}}"</h4>
{% endif %}
<section class="recipes">
  {% for recipe in recipes%}
  <div class="recipe" id={{recipe.id}}>
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
    <h5>{{recipe.title}}</h5>
    <p>por {{recipe.chef_name}}</p>
  </div>
  {% endfor %}
</section>

{% endblock %}