{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - {{recipe.title}}</title>
{% endblock %}

{% block content %}
<div class="presentation">
  <img src="{{recipe.image}}" alt="{{recipe.title}}">
  <h2>{{recipe.title}}</h5>
  <p>por {{recipe.chef_name}}</p>
</div>

<div class="details">
  <h4>Ingredientes</h4>
  <button type="button">ESCONDER</button>
  <div class="modal active">
    <ul>
      {% for ingredient in recipe.ingredients %}
      <li>- {{ingredient}}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="details">
  <h4>Modo de preparo</h4>
  <button type="button">ESCONDER</button>
  <div class="modal active">
    <ul>
      {% for prepare in recipe.preparation %}
      <li>- {{prepare}}</li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if recipe.information %}
<div class="details">
  <h4>Informações adicionais</h4>
  <button type="button">ESCONDER</button>
  <div class="modal active">
    <p>{{recipe.information}}</p>
  </div>
</div>
{% endif %}

{% endblock %}